In [16]:
print("hello world")

hello world

In [17]:
import pandas as pd

df = pd.read_csv("../Data/0_example.txt", header=None)
df.head()

                         0
0                        4
1     L 3 animals fear war
2          P 2 smile woman
3          P 2 woman pearl
4  L 3 fear raft survivors

In [18]:
df = df.drop(0)
df.reset_index(drop=True, inplace=True) 
df.head()

                         0
0     L 3 animals fear war
1          P 2 smile woman
2          P 2 woman pearl
3  L 3 fear raft survivors

In [22]:
def transform_data(row):
    parts = row.split()
    
    try:
        # Attempt to convert the second part to an integer
        tag_number = int(parts[1])
    except ValueError:
        # If it fails, set tag_number to None or a default value
        tag_number = None
    
    return {
        "type": parts[0],
        "tagNumber": tag_number,
        "tags": parts[2:]
    }

# Apply the function to the dataframe
df_transformed = df[0].apply(transform_data)

# Convert the resulting list of dictionaries into a DataFrame
df_transformed = pd.DataFrame(df_transformed.tolist())

# Display the first few rows of the transformed DataFrame
df_transformed.head()

  type  tagNumber                     tags
0    L          3     [animals, fear, war]
1    P          2           [smile, woman]
2    P          2           [woman, pearl]
3    L          3  [fear, raft, survivors]

In [31]:
# Initialize an empty dictionary (map)
my_map = {}

# Open the file and read the lines
with open('../Data/0_example.txt', 'r') as file:
    next(file)  # Skip the first line (count line)

    for line in file:
        line = line.strip()  # Remove leading/trailing whitespaces
        
        # Skip empty lines
        if not line:
            continue
        
        # Split the line by spaces
        parts = line.split()
        
        if len(parts) >= 3:
            # Ensure the second element is treated as an integer
            try:
                type_value = parts[0]  # The first element (L or P)
                tag_number = int(parts[1])  # The second element (tag number, converted to int)
                tags = parts[2:]  # Everything after the second element is part of the tags list
                
                # If the tag_number is already in the dictionary, append the new tags
                if tag_number in my_map:
                    # Use a set to avoid duplicate tags
                    my_map[tag_number]['tags'].update(tags)
                else:
                    my_map[tag_number] = {
                        "type": type_value,
                        "tags": set(tags)  # Initialize tags as a set to avoid duplicates
                    }
            except ValueError as e:
                print(f"Skipping invalid line (ValueError): {line} - {e}")
        else:
            # Handle the case where the line doesn't have the expected format
            print(f"Skipping invalid line: {line}")

# Convert tags back to a list (if you want to maintain the list structure)
for tag_number in my_map:
    my_map[tag_number]['tags'] = list(my_map[tag_number]['tags'])

# Print the resulting dictionary (map)
print(my_map)

{3: {'type': 'L', 'tags': ['fear', 'survivors', 'animals', 'war', 'raft']}, 2: {'type': 'P', 'tags': ['pearl', 'woman', 'smile']}}