In [16]:
print("hello world")

hello world

In [17]:
import pandas as pd

df = pd.read_csv("../Data/0_example.txt", header=None)
df.head()

                         0
0                        4
1     L 3 animals fear war
2          P 2 smile woman
3          P 2 woman pearl
4  L 3 fear raft survivors

In [18]:
df = df.drop(0)
df.reset_index(drop=True, inplace=True) 
df.head()

                         0
0     L 3 animals fear war
1          P 2 smile woman
2          P 2 woman pearl
3  L 3 fear raft survivors

In [22]:
def transform_data(row):
    parts = row.split()
    
    try:
        # Attempt to convert the second part to an integer
        tag_number = int(parts[1])
    except ValueError:
        # If it fails, set tag_number to None or a default value
        tag_number = None
    
    return {
        "type": parts[0],
        "tagNumber": tag_number,
        "tags": parts[2:]
    }

# Apply the function to the dataframe
df_transformed = df[0].apply(transform_data)

# Convert the resulting list of dictionaries into a DataFrame
df_transformed = pd.DataFrame(df_transformed.tolist())

# Display the first few rows of the transformed DataFrame
df_transformed.head()

  type  tagNumber                     tags
0    L          3     [animals, fear, war]
1    P          2           [smile, woman]
2    P          2           [woman, pearl]
3    L          3  [fear, raft, survivors]

In [23]:
df_transformed.reset_index(inplace=True)
df_transformed.head()

   index type  tagNumber                     tags
0      0    L          3     [animals, fear, war]
1      1    P          2           [smile, woman]
2      2    P          2           [woman, pearl]
3      3    L          3  [fear, raft, survivors]